<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Typing App</title>
  </head>
  <link rel="icon"
      type="image/jpg"
      href="images/keyboard.jpg">
  <body>
    <img src="images/keyboard.jpg" alt="Colour coded qwerty Keyboard">
    <h1 id="typeText"><%= ejsTypeText %></h1>
    <h1>Next character to type:</h1>
    <h1 id="nextChar"><%= ejsFirstChar %></h1>
    <script src="common.js" charset="utf-8" type="text/javascript"></script>
    <script src="colourText.js" charset="utf-8" type="text/javascript"></script>
    <h1>Type away:</h1>
    <h1 id="typedText"></h1>
    <script src="typeText.js" charset="utf-8" type="text/javascript"></script>
  </body>
</html>
